<style>

  .product-feature__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #f3f3f3;
  }

  .product-feature__image-column {
    flex: 0 0 45%;
  }

  .product-feature__content-column {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 30px;
  }

  .product-feature__image {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .product-feature__badge {
    display: inline-block;
    width: fit-content;
    background: #121212;
    color: #fff;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .product-feature__heading {
    font-size: 28px;
    line-height: 1.2;
    color: #121212;
    font-weight: 400;
    margin: 0;
  }

  .product-feature__subheading {
    font-weight: bolder;
    color: #121212;
    line-height: 1.6;
    /* margin-block: 16px; */
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .product-feature__description {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.6px;
    color: #121212;
  }

  .product-feature__button {
    display: inline-block;
    width: fit-content;
    padding: 14px 28px;
    background-color: #03751d;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }

  .product-feature__button:hover {
    background: #333333;
  }


  @media screen and (min-width: 748px) {

    .product-feature__container {
      flex-direction: row;
      text-align: left;
      gap: 40px;
    }

    .product-feature__content-column {
      padding: 40px;
    }

    .product-feature__badge {
      margin-inline: 0;
    }

    .product-feature__heading {
      font-size: 36px;
    }

    .product-feature__subheading {
      font-size: 16px;
    }

    .product-feature__description {
      font-size: 16px;
    }
  }
</style>


<div class="product-feature__container">

  <div class="product-feature__image-column">
    {% if section.settings.image != blank %}
      <img
        src="{{ section.settings.image | image_url: width: block.settings.image.width }}"
        width="4000"
        height="4000"
        alt="{{ section.settings.heading | escape }}"
        class="product-feature__image"
        loading="lazy">
    {% else %}
      {{ 'product-1' | placeholder_svg_tag }}
    {% endif %}
  </div>

  <div class="product-feature__content-column">

    {% if section.settings.badge != blank %}
      <span class="product-feature__badge">
        {{ section.settings.badge }}
      </span>
    {% endif %}

    {% if section.settings.heading != blank %}
      <h2 class="product-feature__heading">
        {{ section.settings.heading }}
      </h2>
    {% endif %}

    {% if section.settings.subheading != blank %}
      <h3 class="product-feature__subheading">
        {{ section.settings.subheading }}
      </h3>
    {% endif %}

    {% if section.settings.description != blank %}
      <div class="product-feature__description">
        {{ section.settings.description }}
        <br>
      </div>
    {% endif %}

    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="product-feature__button">
        {{ section.settings.button_label }}
      </a>
    {% endif %}

  </div>

</div>

{% schema %}
  {
    "name": "Featured Product",
    "tag": "section",
    "class": "product-feature",

    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Product Image"
      },

      {
        "type": "text",
        "id": "badge",
        "label": "Badge",
        "default": "new release"
      },

      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Freeze-Dried Elk Organ Treats"
      },

      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "From Our Herd to your Pack"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Made from 100% farm-raised elk organs. Freeze-dried to preserve natural flavor and nutrients, these primal treats deliver an exciting alternative to everyday dog snacks.</p>"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Buy Now"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],

    "presets": [
      {
        "name": "Featured Product"
      }
    ]
  }
{% endschema %}