<style>
  #image-with-text-{{ section.id }} {
  --layout-direction: {{ section.settings.mobile_layout }};
}

  .image-with-text-v2__container {
    flex-direction: var(--layout-direction);
    max-width: 1220px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    padding: 60px 20px;
    margin-inline: auto;
  }

  .image-with-text-v2__image-column {
    max-width: 591px;
    width: 100%;
    position: relative;
    padding-top: 100%;
  }
  
  .image-with-text-v2__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-with-text-v2__content-column {
    max-width: 412px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .image-with-text-v2__heading {
    color: {{ section.settings.heading_font_color }};
    font-size: 39px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .image-with-text-v2__heading::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #005B22;
    margin-top: 25px;
    margin-inline: auto;
  }

  .image-with-text-v2__description {
    color: {{ section.settings.description_font_color }};
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 24px;
  }

  .image-with-text-v2__description p {
    margin: 0;
  }

  .image-with-text-v2__button {
    color: {{ section.settings.btn_font_color }};
    align-items: center;
    gap: 4px;
    text-transform: uppercase;
    padding-block: 14px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 650;
    text-align: center;
    transition: color 0.3s ease;
    letter-spacing: 0.6px;
  }

  .image-with-text-v2__button:hover {
    color: #946d16;
  }

  @media screen and (min-width: 769px) {
    #image-with-text-{{ section.id }} {
      --layout-direction:{{ section.settings.layout }};
    }

    .image-with-text-v2__container {
      gap: 92px;
    }

    .image-with-text-v2__image-column {
      position: relative;
      padding-top: 52%;
    }

    .image-with-text-v2__placeholder {
      padding-top: 0;
      aspect-ratio: 1 / 1;
    }
    
    .image-with-text-v2__content-column {
      align-items: flex-start;
      text-align: start;
   }

    .image-with-text-v2__heading {
      margin-bottom: 24px;
    }

    .image-with-text-v2__heading::after {
      margin-inline: 0;
    }

    .image-with-text-v2__description {
      margin-bottom: 32px;
      font-size: 16px;
    }
  }
</style>

<div id="image-with-text-{{ section.id }}" class="image-with-text-v2__container">
  <div class="image-with-text-v2__image-column {% if section.settings.image == blank %}image-with-text-v2__placeholder{% endif %}"> 
    {% if section.settings.image != blank %}
      <img
        src="{{ section.settings.image | image_url: width: section.settings.image.width, height: section.settings.image.height }}"
        class="image-with-text-v2__image"
        loading="lazy">
      {% else %}
        {{ 'product-1' | placeholder_svg_tag }}
    {% endif %}

  </div>
  <div class="image-with-text-v2__content-column">

    {% if section.settings.heading != blank %}
      <h2 class="image-with-text-v2__heading">
        {{ section.settings.heading }}
      </h2>
    {% endif %}

    {% if section.settings.text != blank %}
      <div class="image-with-text-v2__description">
        {{ section.settings.text }}
      </div>
    {% endif %}

    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="image-with-text-v2__button">
        {{ section.settings.button_label }}
          <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.71655 1.02827L6.20636 5.94764L1.71655 10.2404" stroke="currentColor" stroke-width="2"></path>
          </svg>
      </a>
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Image With Text V2",
    "tag": "section",
    "class": "image-with-text-v2",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Desktop: Image Position",
        "options": [
          {
            "value": "row",
            "label": "Image First"
          },
          {
            "value": "row-reverse",
            "label": "Image Second"
          }
        ],
        "default": "row"
      },
      {
        "type": "select",
        "id": "mobile_layout",
        "label": "Mobile: Image Position",
        "options": [
          {
            "value": "column",
            "label": "Image First"
          },
          {
            "value": "column-reverse",
            "label": "Image Second"
          }
        ],
        "default": "column"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Write heading here"
      },
      {
        "type": "color",
        "id": "heading_font_color",
        "label": "Heading Text Color",
        "default": "#000"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Description",
        "default": "<p>Write description here</p>"
      },      
      {
        "type": "color",
        "id": "description_font_color",
        "label": "Description Text Color",
        "default": "#595959"
      },   
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Buy Now"
      },  
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "color",
        "id": "btn_font_color",
        "label": "Button Text Color",
        "default": "#D3AE5D"
      }
    ],
    "presets": [
      {
        "name": "Image With Text V2"
      }
    ]
  }
{% endschema %}