<style>

  .product-feature__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #f3f3f3;
  }

  .product-feature__image-column {
    flex: 0 0 45%;
  }

  .product-feature__content-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 30px;
  }

  .product-feature__image {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .product-feature__badge {
    display: inline-block;
    width: fit-content;
    background: {{ section.settings.badge_background_color }};
    color: {{ section.settings.badge_font_color }};
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .product-feature__heading {
    font-size: 28px;
    line-height: 1.2;
    background-color: {{ section.settings.heading_bg_color }};
    color: {{ section.settings.heading_font_color }};
    font-weight: 400;
    margin: 0;
  }

  .product-feature__subheading {
    font-weight: bolder;
    background-color: {{ section.settings.subheading_bg_color }};
    color: {{ section.settings.subheading_font_color }};
    line-height: 1.6;
    margin-block: 16px 10px;
  }

  .product-feature__description {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.6px;
    background-color: {{ section.settings.description_bg_color }};
    color: {{ section.settings.description_font_color }};
  }

  .product-feature__button {
    display: inline-block;
    width: fit-content;
    padding: 14px 28px;
    background-color: {{ section.settings.btn_bg_color }};
    color: {{ section.settings.btn_font_color }};
    text-decoration: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease
  }

  .product-feature__button:hover {
    background: {{ section.settings.btn_hover_color }};
  }


  @media screen and (min-width: 748px) {

    .product-feature__container {
      gap: 40px;
    }

    .product-feature__container--image_first {
      flex-direction: row;
    }

    .product-feature__container--image_second {
      flex-direction: row-reverse;
    }

    .product-feature__content-column {
      padding: 40px;
    }

    .product-feature__heading {
      font-size: 36px;
    }

    .product-feature__subheading {
      font-size: 16px;
    }

    .product-feature__description {
      font-size: 16px;
    }
  }
</style>


<div class="product-feature__container product-feature__container--{{ section.settings.layout }}">

  <div class="product-feature__image-column">
    {% if section.settings.image != blank %}
      <img
        src="{{ section.settings.image | image_url: width: section.settings.image.width }}"
        width="4000"
        height="4000"
        alt="{{ section.settings.heading | escape }}"
        class="product-feature__image"
        loading="lazy">
    {% else %}
      {{ 'product-1' | placeholder_svg_tag }}
    {% endif %}

  </div>
  <div class="product-feature__content-column">

    {% if section.settings.badge != blank %}
      <span class="product-feature__badge">
        {{ section.settings.badge }}
      </span>
    {% endif %}

    {% if section.settings.heading != blank %}
      <h2 class="product-feature__heading">
        {{ section.settings.heading }}
      </h2>
    {% endif %}

    {% if section.settings.subheading != blank %}
      <h3 class="product-feature__subheading">
        {{ section.settings.subheading }}
      </h3>
    {% endif %}

    {% if section.settings.description != blank %}
      <div class="product-feature__description">
        {{ section.settings.description }}
        <br>
      </div>
    {% endif %}

    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="product-feature__button">
        {{ section.settings.button_label }}
      </a>
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Featured Product V1",
    "tag": "section",
    "class": "product-feature",

    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Product Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image Position",
        "options": [
          {
            "value": "image_first",
            "label": "Image First"
          },
          {
            "value": "image_second",
            "label": "Image Second"
          }
        ],
        "default": "image_first"
      },
      {
        "type": "text",
        "id": "badge",
        "label": "Badge",
        "default": "new release"
      },
      {
        "type": "color",
        "id": "badge_background_color",
        "label": "Badge Background Color",
        "default": "#121212"
      },
      {
        "type": "color",
        "id": "badge_font_color",
        "label": "Badge Font Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Write heading here"
      },
      {
        "type": "color",
        "id": "heading_bg_color",
        "label": "Heading Background Color",
        "default": "#00000000"
      },
      {
        "type": "color",
        "id": "heading_font_color",
        "label": "Heading Font Color",
        "default": "#121212"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "Write subheading here"
      },
      {
        "type": "color",
        "id": "subheading_bg_color",
        "label": "Subeading Background Color",
        "default": "#00000000"
      }, 
      {
        "type": "color",
        "id": "subheading_font_color",
        "label": "Subheading Font Color",
        "default": "#121212"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Write description here</p>"
      },     
      {
        "type": "color",
        "id": "description_bg_color",
        "label": "Description Background Color",
        "default": "#00000000"
      }, 
      {
        "type": "color",
        "id": "description_font_color",
        "label": "Description Font Color",
        "default": "#121212"
      },   
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Buy Now"
      }, 
      {
        "type": "color",
        "id": "btn_bg_color",
        "label": "Button Background Color",
        "default": "#121212"
      }, 
      {
        "type": "color",
        "id": "btn_font_color",
        "label": "Button Font Color",
        "default": "#ffffff"
      }, 
      {
        "type": "color",
        "id": "btn_hover_color",
        "label": "Button Hover Color",
        "default": "#121212"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],

    "presets": [
      {
        "name": "Featured Product V1"
      }
    ]
  }
{% endschema %}