<style>
  .info-cards {
    background-image: url({{ section.settings.background_image | image_url }});
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 103px 20px 79px;
  }

  .info-cards__container {
    max-width: 1002px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .info-cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 300px;
  }

  .info-cards__image {
    width: 68px;
    height: 45px;
    margin: 0 auto 38px;
    object-fit: contain;
  }

  .info-cards__image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }

  .info-cards__title {
    color: {{ section.settings.title_color }};
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  .info-cards__title p,
  .info-cards__text p {
    margin: 0;
  }

  .info-cards__text {
    color: {{ section.settings.text_color }};
    max-width: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
  }

  @media screen and (min-width: 425px) {
    .info-cards__image {
      width: 136px;
      height: 90px;
    }

    .info-cards__text {
      max-width: 267px;
    }
  }
</style>

<div class="info-cards"
 {% unless section.settings.background_image != blank %}
    style="background-color: #707070;"
  {% endunless %}>

  <div class="info-cards__container">
    {% for block in section.blocks %}
      <div class="info-cards__item">
        {% if block.settings.image != blank %}
          <div class="info-cards__image">
            <img
              src="{{ block.settings.image | image_url: width: block.settings.image.width, height: block.settings.image.height }}"
              loading="lazy">
          </div>
          {% else %}
            {{ 'product-1' | placeholder_svg_tag: "info-cards__image" }}
        {% endif %}

        {% if block.settings.title != blank %}
          <div class="info-cards__title">
            <p>{{ block.settings.title }}</p>
          </div>
        {% endif %}

        {% if block.settings.text != blank %}
          <div class="info-cards__text">
            <p>{{ block.settings.text }}</p>
          </div>
        {% endif %}

      </div>
    {% endfor %}

  </div>
</div>

{% schema %}
{
  "name": "Info Cards",
  "tag": "section",
  "class": "info-cards-section",

  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Info Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Direct From The Source"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Description",
          "default": "Write your information here."
        }
      ]
    }
  ],
  "max_blocks": 3,

  "presets": [
    {
      "name": "Info Cards",
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}